.container {
  display: grid;
  margin: auto;
  padding: 10%;
  justify-content: center;
  align-items: center;
  #todos,
  .addTodo {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 320px;
  }
  .addTodo {
    input,
    button {
      margin: 4px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
  h1 {
    text-align: center;
  }
  ul {
    list-style: none;
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
  }
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: black 1px solid;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin: 4px;
    button,
    h3 {
      margin: 8px;
    }
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3:hover {
      overflow: auto;
      text-overflow: initial;
    }
    button {
      width: 32px;
      background-color: white;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    .strikethrough {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
